.spinner {
    font-size: 28px;
    position: relative;
    display: inline-block;
    width: 1em;
    height: 1em;
  }
  
  .spinner.center {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
  }
  
  .spinner-blade {
    position: absolute;
    left: 50%;
    bottom: 0;
    width: 2px;
    height: 8px;
    border-radius: 2px;
    background-color: transparent;
    transform-origin: center -6px;
    animation: spinner-fade 1s infinite linear;
  }
  
  /* auto rotate + delay */
  .spinner-blade:nth-child(1)  { transform: rotate(0deg);   animation-delay: 0s; }
  .spinner-blade:nth-child(2)  { transform: rotate(30deg);  animation-delay: 0.083s; }
  .spinner-blade:nth-child(3)  { transform: rotate(60deg);  animation-delay: 0.166s; }
  .spinner-blade:nth-child(4)  { transform: rotate(90deg);  animation-delay: 0.249s; }
  .spinner-blade:nth-child(5)  { transform: rotate(120deg); animation-delay: 0.332s; }
  .spinner-blade:nth-child(6)  { transform: rotate(150deg); animation-delay: 0.415s; }
  .spinner-blade:nth-child(7)  { transform: rotate(180deg); animation-delay: 0.498s; }
  .spinner-blade:nth-child(8)  { transform: rotate(210deg); animation-delay: 0.581s; }
  .spinner-blade:nth-child(9)  { transform: rotate(240deg); animation-delay: 0.664s; }
  .spinner-blade:nth-child(10) { transform: rotate(270deg); animation-delay: 0.747s; }
  .spinner-blade:nth-child(11) { transform: rotate(300deg); animation-delay: 0.83s; }
  .spinner-blade:nth-child(12) { transform: rotate(330deg); animation-delay: 0.913s; }
  
  @keyframes spinner-fade {
    0% {
      background-color: #69717d;
    }
    100% {
      background-color: transparent;
    }
  }